
.producto{
    width: 30%;
    border: 1px solid black;
    background-color: antiquewhite;
    margin-left: 470px;
}
img  {
float: center;
width: 400px;
height: 360px;
}
.imagen{
    width: 100%;
    height: 340px;
}
input {
    height: 40px;
    width: 100%;
}
 
.texto, .precio {
    padding-left: 20px;
    text-align:center;
}

 
.cerrarsesion{
    float: right;
}

.sesion{
    margin-bottom: 200px;
}
body{
    background-color: gray;
}